@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.centerText {
  text-align: center;
}

.marginBottom8 {
  margin-bottom: 8rem;
}

.headingSecondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(rgb(29, 29, 29), 0.2);
  }
}

.sectionStories {
  padding: 15rem 0;

  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rbga(black, 0.1);
  background-color: rgba(white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: skewX(12deg);
    overflow: hidden;
    border-radius: 50px;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateY(0rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}

.marginBottomSmall {
  margin-bottom: 1.5rem;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
